## SQL at Scale with Spark SQL

Welcome to the SQL mini project. For this project, you will use the Databricks Platform and work through a series of exercises using Spark SQL. The dataset size may not be too big but the intent here is to familiarize yourself with the Spark SQL interface which scales easily to huge datasets, without you having to worry about changing your SQL queries. 

The data you need is present in the mini-project folder in the form of three CSV files. This data will be imported in Databricks to create the following tables under the __`country_club`__ database.

<br>
1. The __`bookings`__ table,
2. The __`facilities`__ table, and
3. The __`members`__ table.

You will be uploading these datasets shortly into the Databricks platform to understand how to create a database within minutes! Once the database and the tables are populated, you will be focusing on the mini-project questions.

In the mini project, you'll be asked a series of questions. You can solve them using the databricks platform, but for the final deliverable,
please download this notebook as an IPython notebook (__`File -> Export -> IPython Notebook`__) and upload it to your GitHub.

### Creating the Database

We will first create our database in which we will be creating our three tables of interest

In [117]:
import os
from pyspark.sql import SparkSession

# Set HADOOP_HOME
os.environ['HADOOP_HOME'] = '/path/to/your/hadoop'

# Set hadoop.home.dir
os.environ['hadoop.home.dir'] = '/path/to/your/hadoop'

# Create a Spark session
spark = SparkSession.builder.appName("mini-project").getOrCreate()

# Drop all tables in the database
spark.sql("DROP TABLE IF EXISTS country_club.bookings")
spark.sql("DROP TABLE IF EXISTS country_club.facilities")
spark.sql("DROP TABLE IF EXISTS country_club.members")

# Drop the database
spark.sql("DROP DATABASE IF EXISTS country_club CASCADE")

# Create the database
spark.sql("CREATE DATABASE country_club")

# Show databases
spark.sql("SHOW DATABASES").show()

Py4JJavaError: An error occurred while calling o24.sql.
: java.lang.RuntimeException: java.io.FileNotFoundException: java.io.FileNotFoundException: HADOOP_HOME and hadoop.home.dir are unset. -see https://wiki.apache.org/hadoop/WindowsProblems
	at org.apache.hadoop.util.Shell.getWinUtilsPath(Shell.java:735)
	at org.apache.hadoop.util.Shell.getSetPermissionCommand(Shell.java:270)
	at org.apache.hadoop.util.Shell.getSetPermissionCommand(Shell.java:286)
	at org.apache.hadoop.fs.RawLocalFileSystem.setPermission(RawLocalFileSystem.java:978)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkOneDirWithMode(RawLocalFileSystem.java:660)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirsWithOptionalPermission(RawLocalFileSystem.java:700)
	at org.apache.hadoop.fs.RawLocalFileSystem.mkdirs(RawLocalFileSystem.java:672)
	at org.apache.hadoop.fs.ChecksumFileSystem.mkdirs(ChecksumFileSystem.java:788)
	at org.apache.spark.sql.catalyst.catalog.InMemoryCatalog.liftedTree1$1(InMemoryCatalog.scala:122)
	at org.apache.spark.sql.catalyst.catalog.InMemoryCatalog.createDatabase(InMemoryCatalog.scala:119)
	at org.apache.spark.sql.catalyst.catalog.ExternalCatalogWithListener.createDatabase(ExternalCatalogWithListener.scala:47)
	at org.apache.spark.sql.catalyst.catalog.SessionCatalog.createDatabase(SessionCatalog.scala:281)
	at org.apache.spark.sql.execution.datasources.v2.V2SessionCatalog.createNamespace(V2SessionCatalog.scala:302)
	at org.apache.spark.sql.execution.datasources.v2.CreateNamespaceExec.run(CreateNamespaceExec.scala:47)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result$lzycompute(V2CommandExec.scala:43)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result(V2CommandExec.scala:43)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.executeCollect(V2CommandExec.scala:49)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.Dataset.<init>(Dataset.scala:220)
	at org.apache.spark.sql.Dataset$.$anonfun$ofRows$2(Dataset.scala:100)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:97)
	at org.apache.spark.sql.SparkSession.$anonfun$sql$1(SparkSession.scala:638)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:629)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:659)
	at jdk.internal.reflect.GeneratedMethodAccessor31.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:52)
	at java.base/java.lang.reflect.Method.invoke(Method.java:577)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:833)
Caused by: java.io.FileNotFoundException: java.io.FileNotFoundException: HADOOP_HOME and hadoop.home.dir are unset. -see https://wiki.apache.org/hadoop/WindowsProblems
	at org.apache.hadoop.util.Shell.fileNotFoundException(Shell.java:547)
	at org.apache.hadoop.util.Shell.getHadoopHomeDir(Shell.java:568)
	at org.apache.hadoop.util.Shell.getQualifiedBin(Shell.java:591)
	at org.apache.hadoop.util.Shell.<clinit>(Shell.java:688)
	at org.apache.hadoop.util.StringUtils.<clinit>(StringUtils.java:79)
	at org.apache.hadoop.conf.Configuration.getTimeDurationHelper(Configuration.java:1907)
	at org.apache.hadoop.conf.Configuration.getTimeDuration(Configuration.java:1867)
	at org.apache.hadoop.conf.Configuration.getTimeDuration(Configuration.java:1840)
	at org.apache.hadoop.util.ShutdownHookManager.getShutdownTimeout(ShutdownHookManager.java:183)
	at org.apache.hadoop.util.ShutdownHookManager$HookEntry.<init>(ShutdownHookManager.java:207)
	at org.apache.hadoop.util.ShutdownHookManager.addShutdownHook(ShutdownHookManager.java:304)
	at org.apache.spark.util.SparkShutdownHookManager.install(ShutdownHookManager.scala:181)
	at org.apache.spark.util.ShutdownHookManager$.shutdownHooks$lzycompute(ShutdownHookManager.scala:50)
	at org.apache.spark.util.ShutdownHookManager$.shutdownHooks(ShutdownHookManager.scala:48)
	at org.apache.spark.util.ShutdownHookManager$.addShutdownHook(ShutdownHookManager.scala:153)
	at org.apache.spark.util.ShutdownHookManager$.<init>(ShutdownHookManager.scala:58)
	at org.apache.spark.util.ShutdownHookManager$.<clinit>(ShutdownHookManager.scala)
	at org.apache.spark.util.Utils$.createTempDir(Utils.scala:242)
	at org.apache.spark.util.SparkFileUtils.createTempDir(SparkFileUtils.scala:103)
	at org.apache.spark.util.SparkFileUtils.createTempDir$(SparkFileUtils.scala:102)
	at org.apache.spark.util.Utils$.createTempDir(Utils.scala:94)
	at org.apache.spark.deploy.SparkSubmit.prepareSubmitEnvironment(SparkSubmit.scala:372)
	at org.apache.spark.deploy.SparkSubmit.org$apache$spark$deploy$SparkSubmit$$runMain(SparkSubmit.scala:964)
	at org.apache.spark.deploy.SparkSubmit.doRunMain$1(SparkSubmit.scala:194)
	at org.apache.spark.deploy.SparkSubmit.submit(SparkSubmit.scala:217)
	at org.apache.spark.deploy.SparkSubmit.doSubmit(SparkSubmit.scala:91)
	at org.apache.spark.deploy.SparkSubmit$$anon$2.doSubmit(SparkSubmit.scala:1120)
	at org.apache.spark.deploy.SparkSubmit$.main(SparkSubmit.scala:1129)
	at org.apache.spark.deploy.SparkSubmit.main(SparkSubmit.scala)
Caused by: java.io.FileNotFoundException: HADOOP_HOME and hadoop.home.dir are unset.
	at org.apache.hadoop.util.Shell.checkHadoopHomeInner(Shell.java:467)
	at org.apache.hadoop.util.Shell.checkHadoopHome(Shell.java:438)
	at org.apache.hadoop.util.Shell.<clinit>(Shell.java:515)
	... 25 more

### Creating the Tables

In this section, we will be creating the three tables of interest and populate them with the data from the CSV files already available to you. 
To get started, first upload the three CSV files to the DBFS as depicted in the following figure

![](https://i.imgur.com/QcCruBr.png)


Once you have done this, please remember to execute the following code to build the dataframes which will be saved as tables in our database

In [118]:
import shutil

# Update these paths with your local paths
local_file_location_bookings = "C:/Users/zoyaa/Downloads/mec-5.6.6-sql-with-spark-mini-project-20231102T223441Z-001/mec-5.6.6-sql-with-spark-mini-project/Bookings.csv"
local_file_location_facilities = "C:/Users/zoyaa/Downloads/mec-5.6.6-sql-with-spark-mini-project-20231102T223441Z-001/mec-5.6.6-sql-with-spark-mini-project/Facilities.csv"
local_file_location_members = "C:/Users/zoyaa/Downloads/mec-5.6.6-sql-with-spark-mini-project-20231102T223441Z-001/mec-5.6.6-sql-with-spark-mini-project/Members.csv"

# Use the local file paths in your Spark code
file_location_bookings = local_file_location_bookings
file_location_facilities = local_file_location_facilities
file_location_members = local_file_location_members

# File type
file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
bookings_df = (spark.read.format(file_type) 
                    .option("inferSchema", infer_schema) 
                    .option("header", first_row_is_header) 
                    .option("sep", delimiter) 
                    .load(file_location_bookings))

facilities_df = (spark.read.format(file_type) 
                      .option("inferSchema", infer_schema) 
                      .option("header", first_row_is_header) 
                      .option("sep", delimiter) 
                      .load(file_location_facilities))

members_df = (spark.read.format(file_type) 
                      .option("inferSchema", infer_schema) 
                      .option("header", first_row_is_header) 
                      .option("sep", delimiter) 
                      .load(file_location_members))

### Viewing the dataframe schemas

We can take a look at the schemas of our potential tables to be written to our database soon

In [119]:
print('Bookings Schema')
bookings_df.printSchema()
print('Facilities Schema')
facilities_df.printSchema()
print('Members Schema')
members_df.printSchema()

Bookings Schema
root
 |-- bookid: integer (nullable = true)
 |-- facid: integer (nullable = true)
 |-- memid: integer (nullable = true)
 |-- starttime: timestamp (nullable = true)
 |-- slots: integer (nullable = true)

Facilities Schema
root
 |-- facid: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- membercost: double (nullable = true)
 |-- guestcost: double (nullable = true)
 |-- initialoutlay: integer (nullable = true)
 |-- monthlymaintenance: integer (nullable = true)

Members Schema
root
 |-- memid: integer (nullable = true)
 |-- surname: string (nullable = true)
 |-- firstname: string (nullable = true)
 |-- address: string (nullable = true)
 |-- zipcode: integer (nullable = true)
 |-- telephone: string (nullable = true)
 |-- recommendedby: integer (nullable = true)
 |-- joindate: timestamp (nullable = true)

### Create permanent tables
We will be creating three permanent tables here in our __`country_club`__ database as we discussed previously with the following code

In [120]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("MiniProject").getOrCreate()

# Define file paths
bookings_path = r'C:\Users\zoyaa\Downloads\mec-5.6.6-sql-with-spark-mini-project-20231102T223441Z-001\mec-5.6.6-sql-with-spark-mini-project\Bookings.csv'
facilities_path = r'C:\Users\zoyaa\Downloads\mec-5.6.6-sql-with-spark-mini-project-20231102T223441Z-001\mec-5.6.6-sql-with-spark-mini-project\Facilities.csv'
members_path = r'C:\Users\zoyaa\Downloads\mec-5.6.6-sql-with-spark-mini-project-20231102T223441Z-001\mec-5.6.6-sql-with-spark-mini-project\Members.csv'

# Load data into Spark DataFrames
bookings_df = spark.read.csv(bookings_path, header=True, inferSchema=True)
facilities_df = spark.read.csv(facilities_path, header=True, inferSchema=True)
members_df = spark.read.csv(members_path, header=True, inferSchema=True)

# Create temporary views for Spark SQL
bookings_df.createOrReplaceTempView("bookings")
facilities_df.createOrReplaceTempView("facilities")
members_df.createOrReplaceTempView("members")

# Example SQL query
result = spark.sql("""
    SELECT *
    FROM bookings
    WHERE memid = 1
""")
result.show()

+------+-----+-----+-------------------+-----+
|bookid|facid|memid|          starttime|slots|
+------+-----+-----+-------------------+-----+
|     0|    3|    1|2012-07-03 11:00:00|    2|
|     1|    4|    1|2012-07-03 08:00:00|    2|
|     3|    7|    1|2012-07-03 19:00:00|    2|
|     4|    8|    1|2012-07-03 10:00:00|    1|
|     5|    8|    1|2012-07-03 15:00:00|    1|
|    13|    6|    1|2012-07-04 15:30:00|    2|
|    18|    2|    1|2012-07-05 09:30:00|    3|
|    20|    3|    1|2012-07-05 19:00:00|    2|
|    23|    6|    1|2012-07-05 14:30:00|    2|
|    29|    2|    1|2012-07-06 17:00:00|    3|
|    30|    3|    1|2012-07-06 11:00:00|    2|
|    32|    6|    1|2012-07-06 14:00:00|    2|
|    40|    2|    1|2012-07-07 09:00:00|    3|
|    41|    2|    1|2012-07-07 11:30:00|    3|
|    42|    2|    1|2012-07-07 16:00:00|    3|
|    48|    6|    1|2012-07-07 10:30:00|    2|
|    49|    6|    1|2012-07-07 14:30:00|    2|
|    56|    1|    1|2012-07-08 15:00:00|    3|
|    57|    1|    1|2012-07-08 17:30:00|    3|
|    58|    3|    1|2012-07-08 11:30:00|    2|
+------+-----+-----+-------------------+-----+
only showing top 20 rows

### Refresh tables and check them

In [121]:
spark.sql("CREATE DATABASE IF NOT EXISTS country_club")

# Use the database
spark.sql("USE country_club")

# Refresh tables
spark.sql("REFRESH TABLE bookings")
spark.sql("REFRESH TABLE facilities")
spark.sql("REFRESH TABLE members")

# Show tables
tables = spark.sql("SHOW TABLES")
tables.show()

+---------+----------+-----------+
|namespace| tableName|isTemporary|
+---------+----------+-----------+
|         |  bookings|       true|
|         |facilities|       true|
|         |   members|       true|
+---------+----------+-----------+

### Test a sample SQL query

__Note:__ You can use __`%sql`__ at the beginning of a cell and write SQL queries directly as seen in the following cell. Neat isn't it!

In [122]:
import pandas as pd

# Load CSV files into DataFrames
bookings_df = pd.read_csv(r'C:\Users\zoyaa\Downloads\mec-5.6.6-sql-with-spark-mini-project-20231102T223441Z-001\mec-5.6.6-sql-with-spark-mini-project\Bookings.csv')
facilities_df = pd.read_csv(r'C:\Users\zoyaa\Downloads\mec-5.6.6-sql-with-spark-mini-project-20231102T223441Z-001\mec-5.6.6-sql-with-spark-mini-project\Facilities.csv')
members_df = pd.read_csv(r'C:\Users\zoyaa\Downloads\mec-5.6.6-sql-with-spark-mini-project-20231102T223441Z-001\mec-5.6.6-sql-with-spark-mini-project\Members.csv')

# Display the first few rows of each DataFrame to verify the data has been loaded
print("Bookings DataFrame:")
print(bookings_df.head())

print("\nFacilities DataFrame:")
print(facilities_df.head())

print("\nMembers DataFrame:")
print(members_df.head())

Bookings DataFrame:
   bookid  facid  memid            starttime  slots
0       0      3      1  2012-07-03 11:00:00      2
1       1      4      1  2012-07-03 08:00:00      2
2       2      6      0  2012-07-03 18:00:00      2
3       3      7      1  2012-07-03 19:00:00      2
4       4      8      1  2012-07-03 10:00:00      1

Facilities DataFrame:
   facid             name  membercost  guestcost  initialoutlay  \
0      0   Tennis Court 1         5.0       25.0          10000
1      1   Tennis Court 2         5.0       25.0           8000
2      2  Badminton Court         0.0       15.5           4000
3      3     Table Tennis         0.0        5.0            320
4      4   Massage Room 1         9.9       80.0           4000

   monthlymaintenance
0                 200
1                 200
2                  50
3                  10
4                3000

Members DataFrame:
   memid   surname firstname                       address  zipcode  \
0      0     GUEST     GUEST                         GUEST        0
1      1     Smith    Darren    8 Bloomsbury Close, Boston     4321
2      2     Smith     Tracy  8 Bloomsbury Close, New York     4321
3      3    Rownam       Tim        23 Highway Way, Boston    23423
4      4  Joplette    Janice    20 Crossing Road, New York      234

        telephone  recommendedby             joindate
0  (000) 000-0000            NaN  2012-07-01 00:00:00
1    555-555-5555            NaN  2012-07-02 12:02:05
2    555-555-5555            NaN  2012-07-02 12:08:23
3  (844) 693-0723            NaN  2012-07-03 09:32:15
4  (833) 942-4710            1.0  2012-07-03 10:25:05

ModuleNotFoundError: No module named 'sqlalchemy'

#### Q1: Some of the facilities charge a fee to members, but some do not. Please list the names of the facilities that do.

In [123]:
%sql



# Assuming 'spark' is your SparkSession
result = spark.sql("SELECT name FROM facilities WHERE membercost > 0")
result.show()

Traceback (most recent call last):
  File "c:\Users\zoyaa\AppData\Local\Programs\Python\Python310\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "c:\Users\zoyaa\AppData\Local\Programs\Python\Python310\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

+--------------+
|          name|
+--------------+
|Tennis Court 1|
|Tennis Court 2|
|Massage Room 1|
|Massage Room 2|
|  Squash Court|
+--------------+

####  Q2: How many facilities do not charge a fee to members?

In [124]:
# Install ipython-sql
!pip install ipython-sql

# Load the sql extension
%load_ext sql

# Assuming 'spark' is your SparkSession
result = spark.sql("SELECT COUNT(*) AS num_facilities_no_fee FROM facilities WHERE membercost = 0")
result.show()

Requirement already satisfied: ipython-sql in c:\users\zoyaa\appdata\local\programs\python\python310\lib\site-packages (0.5.0)The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Requirement already satisfied: prettytable in c:\users\zoyaa\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in c:\users\zoyaa\appdata\roaming\python\python310\site-packages (from ipython-sql) (8.17.2)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\zoyaa\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (2.0.23)
Requirement already satisfied: sqlparse in c:\users\zoyaa\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in c:\users\zoyaa\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\zoyaa\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\zoyaa\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\zoyaa\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\zoyaa\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\zoyaa\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\zoyaa\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\zoyaa\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in c:\users\zoyaa\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: stack-data in c:\users\zoyaa\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in c:\users\zoyaa\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (5.13.0)
Requirement already satisfied: exceptiongroup in c:\users\zoyaa\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (1.1.3)
Requirement already satisfied: colorama in c:\users\zoyaa\appdata\roaming\python\python310\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\zoyaa\appdata\roaming\python\python310\site-packages (from prettytable->ipython-sql) (0.2.9)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\zoyaa\appdata\roaming\python\python310\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\zoyaa\appdata\roaming\python\python310\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\zoyaa\appdata\roaming\python\python310\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\zoyaa\appdata\roaming\python\python310\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

+---------------------+
|num_facilities_no_fee|
+---------------------+
|                    4|
+---------------------+

#### Q3: How can you produce a list of facilities that charge a fee to members, where the fee is less than 20% of the facility's monthly maintenance cost? 
#### Return the facid, facility name, member cost, and monthly maintenance of the facilities in question.

In [125]:
%sql

%load_ext sql

# Assuming 'spark' is your SparkSession
result = spark.sql("""
    SELECT facid, name AS facility_name, membercost, monthlymaintenance
    FROM facilities
    WHERE membercost > 0 AND membercost < 0.2 * monthlymaintenance
""")
result.show()

Traceback (most recent call last):
  File "c:\Users\zoyaa\AppData\Local\Programs\Python\Python310\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "c:\Users\zoyaa\AppData\Local\Programs\Python\Python310\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
The sql extension is already loaded. To reload it, use:
  %reload_ext sql
+-----+--------------+----------+------------------+
|facid| facility_name|membercost|monthlymaintenance|
+-----+--------------+----------+------------------+
|    0|Tennis Court 1|       5.0|               200|
|    1|Tennis Court 2|       5.0|               200|
|    4|Massage Room 1|       9.9|              3000|
|    5|Massage Room 2|       9.9|              3000|
|    6|  Squash Court|       3.5|                80|
+-----+--------------+----------+------------------+

#### Q4: How can you retrieve the details of facilities with ID 1 and 5? Write the query without using the OR operator.

In [126]:
%%sql

SELECT *
FROM facilities
WHERE facid IN (1, 5);

# Separate cell for Python code

%load_ext sql

# Assuming 'spark' is your SparkSession
result = spark.sql("""
    SELECT *
    FROM facilities
    WHERE facid IN (1, 5)
""")
result.show()

Traceback (most recent call last):
  File "c:\Users\zoyaa\AppData\Local\Programs\Python\Python310\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "c:\Users\zoyaa\AppData\Local\Programs\Python\Python310\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

#### Q5: How can you produce a list of facilities, with each labelled as 'cheap' or 'expensive', depending on if their monthly maintenance cost is more than $100? 
#### Return the name and monthly maintenance of the facilities in question.

In [127]:
%sql

from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when

# Assuming 'spark' is your SparkSession
spark = SparkSession.builder.appName("facility_analysis").getOrCreate()

# Assuming 'facilities' is your DataFrame representing the 'facilities' table
facilities = spark.sql("SELECT * FROM facilities")

# Create a new DataFrame with the desired columns and the 'label' column
result = facilities.select(
    col("name").alias("facility_name"),
    col("monthlymaintenance"),
    when(col("monthlymaintenance") > 100, "expensive").otherwise("cheap").alias("label")
)

# Show the result
result.show()

Traceback (most recent call last):
  File "c:\Users\zoyaa\AppData\Local\Programs\Python\Python310\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "c:\Users\zoyaa\AppData\Local\Programs\Python\Python310\lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
+---------------+------------------+---------+
|  facility_name|monthlymaintenance|    label|
+---------------+------------------+---------+
| Tennis Court 1|               200|expensive|
| Tennis Court 2|               200|expensive|
|Badminton Court|                50|    cheap|
|   Table Tennis|                10|    cheap|
| Massage Room 1|              3000|expensive|
| Massage Room 2|              3000|expensive|
|   Squash Court|                80|    cheap|
|  Snooker Table|                15|    cheap|
|     Pool Table|                15|    cheap|
+---------------+------------------+---------+

#### Q6: You'd like to get the first and last name of the last member(s) who signed up. Do not use the LIMIT clause for your solution.

In [128]:
import pandas as pd

# Read the Members.csv file into a DataFrame
members_df = pd.read_csv("Members.csv")

# Convert 'joindate' column to datetime if needed
members_df['joindate'] = pd.to_datetime(members_df['joindate'])

# Find the maximum join date
max_joindate = members_df['joindate'].max()

# Filter members with the maximum join date
result = members_df[members_df['joindate'] == max_joindate][['firstname', 'surname']]

# Display the result
print(result)

   firstname surname
30    Darren   Smith

####  Q7: How can you produce a list of all members who have used a tennis court?
- Include in your output the name of the court, and the name of the member formatted as a single column. 
- Ensure no duplicate data
- Also order by the member name.

In [129]:
import pandas as pd

# Load Members.csv, Bookings.csv, and Facilities.csv into Pandas DataFrames
members_df = pd.read_csv("Members.csv")
bookings_df = pd.read_csv("Bookings.csv")
facilities_df = pd.read_csv("Facilities.csv")

# Merge the Members, Bookings, and Facilities DataFrames
merged_df = pd.merge(pd.merge(members_df, bookings_df, on='memid'), facilities_df, on='facid')

# Filter for tennis court bookings
tennis_court_bookings = merged_df[merged_df['name'].str.startswith('Tennis Court')]

# Create a formatted column for member names
tennis_court_bookings['member_name'] = tennis_court_bookings['surname'] + ', ' + tennis_court_bookings['firstname']

# Select and display the desired columns
result = tennis_court_bookings[['member_name', 'name']].drop_duplicates().sort_values('member_name')
print(result)

             member_name            name
1425     Bader, Florence  Tennis Court 2
1802     Bader, Florence  Tennis Court 1
1388         Baker, Anne  Tennis Court 2
1773         Baker, Anne  Tennis Court 1
1803      Baker, Timothy  Tennis Court 1
1433      Baker, Timothy  Tennis Court 2
1234         Boothe, Tim  Tennis Court 2
1726         Boothe, Tim  Tennis Court 1
1217     Butters, Gerald  Tennis Court 2
1613     Butters, Gerald  Tennis Court 1
1834        Coplin, Joan  Tennis Court 1
1865      Crumpet, Erica  Tennis Court 1
1223         Dare, Nancy  Tennis Court 2
1701         Dare, Nancy  Tennis Court 1
1855      Farrell, David  Tennis Court 1
1452      Farrell, David  Tennis Court 2
1423     Farrell, Jemima  Tennis Court 2
1779     Farrell, Jemima  Tennis Court 1
1069        GUEST, GUEST  Tennis Court 2
1458        GUEST, GUEST  Tennis Court 1
1833    Genting, Matthew  Tennis Court 1
1454          Hunt, John  Tennis Court 2
1861          Hunt, John  Tennis Court 1
1358        Jones, David  Tennis Court 2
1748        Jones, David  Tennis Court 1
1846      Jones, Douglas  Tennis Court 1
1594    Joplette, Janice  Tennis Court 1
1209    Joplette, Janice  Tennis Court 2
1317       Owen, Charles  Tennis Court 2
1731       Owen, Charles  Tennis Court 1
1817       Pinker, David  Tennis Court 1
1453  Purview, Millicent  Tennis Court 2
1203         Rownam, Tim  Tennis Court 2
1588         Rownam, Tim  Tennis Court 1
1451   Rumney, Henrietta  Tennis Court 2
1841   Sarwin, Ramnaresh  Tennis Court 1
1440   Sarwin, Ramnaresh  Tennis Court 2
1182       Smith, Darren  Tennis Court 2
1424         Smith, Jack  Tennis Court 2
1780         Smith, Jack  Tennis Court 1
1558        Smith, Tracy  Tennis Court 1
1201        Smith, Tracy  Tennis Court 2
1286    Stibbons, Ponder  Tennis Court 2
1730    Stibbons, Ponder  Tennis Court 1
1670       Tracy, Burton  Tennis Court 1
1220       Tracy, Burton  Tennis Court 2

C:\Users\zoyaa\AppData\Local\Temp\ipykernel_15332\2263571750.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tennis_court_bookings['member_name'] = tennis_court_bookings['surname'] + ', ' + tennis_court_bookings['firstname']

#### Q8: How can you produce a list of bookings on the day of 2012-09-14 which will cost the member (or guest) more than $30? 

- Remember that guests have different costs to members (the listed costs are per half-hour 'slot')
- The guest user's ID is always 0. 

#### Include in your output the name of the facility, the name of the member formatted as a single column, and the cost.

- Order by descending cost, and do not use any subqueries.

In [ ]:
result = run_sql('''
                    SELECT name,
                           CONCAT(firstname,' ',surname) AS member_name,
                           CASE WHEN bookings.memid = 0 THEN guestcost * slots
                           ELSE membercost * slots END AS cost 
                    FROM bookings
                    JOIN facilities
                      ON Bookings.facid = facilities.facid
                    JOIN members
                      ON bookings.memid = members.memid
                    WHERE starttime LIKE '%%2012-09-14%%'AND
                          ((guestcost * slots > 30 AND bookings.memid = 0) OR
                          (membercost * slots > 30 AND bookings.memid != 0))
                    ORDER BY cost DESC
                 ''')
result.toPandas()

#### Q9: This time, produce the same result as in Q8, but using a subquery.

In [ ]:
%sql

result = run_sql('''
                    SELECT DISTINCT name, surname, 
                            CASE
                               WHEN surname == 'GUEST' THEN guestcost
                               ELSE membercost
                            END as cost 
                    FROM (SELECT *
                            FROM bookings 
                            INNER JOIN facilities
                            USING (facid)
                            INNER JOIN members
                            USING (memid))
                    WHERE starttime like "%2012-09-14%"
                   AND (membercost > 30
                   OR guestcost > 30)
                   ORDER BY cost desc
                 ''')
result.toPandas()

#### Q10: Produce a list of facilities with a total revenue less than 1000.
- The output should have facility name and total revenue, sorted by revenue. 
- Remember that there's a different cost for guests and members!

In [ ]:
result = run_sql('''
                    SELECT name,
                           SUM(fee * slots) AS revenue
                    FROM (SELECT CASE WHEN bookings.memid = 0 THEN guestcost
                                 ELSE membercost END AS fee,
                                 slots,
                                 name
                          FROM bookings
                          JOIN facilities
                            ON bookings.facid = facilities.facid) AS booking_Fees
                    GROUP BY name
                    HAVING revenue < 1000
                    ORDER BY revenue
                 ''')
result.toPandas()